<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
    <img src="https://i.pinimg.com/564x/83/b1/ce/83b1ce53331531597bbdae69fa91b064.jpg"  width="120" height="120">  <p>KITTEN STORE</p>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h3><img src="https://img.wattpad.com/833451b69e535c20857f5b854020b5cd152ed975/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4b4f4846657153757761554978513d3d2d313032363838353537392e313636343130323234636430373433643531313430353031323032352e6a7067?s=fit&w=720&h=720" class="user-avatar">      User2003826 </h3>
          
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/toys/create">Add product</a>
          <a class="dropdown-item" href="/me/stored/toys">My toys</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>